{% extends 'habit_stacker/base.html' %}
{% block main_area %}
<div class="container mt-5">
    <h1 class="mb-4">인증 상세 페이지</h1>
    
    <div class="card mb-4">
        {% if authentication.file %}
            <img src="{{ authentication.file.url }}" class="card-img-top" alt="챌린지 이미지">
        {% else %}
            <div class="card-img-top bg-light text-center p-5">이미지 없음</div>
        {% endif %}
        <div class="card-body">
            {% if authentication.text %}
                <p class="card-text">{{ authentication.text }}</p>
            {% else %}
                <p class="card-text">인증 텍스트 없음</p>
            {% endif %}
            {% if user.id == authentication.user_id %}
                <a href="{% url 'edit_challenge' challenge_id=challenge.id index=index %}" class="btn btn-primary">수정하기</a>
            {% endif %}
        </div>
    </div>

    <!-- 댓글 폼 -->
    <form id="comment-form" method="post" action="{% url 'add_comment' challenge_id=challenge.id user_id=authentication.user.id index=index %}">
        {% csrf_token %}
        <div class="form-group">
            <textarea name="comment" class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">댓글 작성</button>
    </form>

    <!-- 댓글 목록 -->
    <div id="comments-list"></div>
</div> 
{% endblock %}
{% block extra_scripts %}
{% load static %}
<script>
    var challengeId = "{{ challenge.id }}";
    var authenticationUserId = "{{ authentication.user.id }}";
    var index = "{{ index }}";
</script>
    <script src="{% static 'js/authenticate_user_page.js' %}"></script>
{% endblock %}