{% extends 'habit_stacker/base.html' %}
{% block main_area %}

    <!-- Page content-->
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-12">
                <h1>Create New Challenge</h1>
                <hr/>
                <!-- form : 사용자가 기록한 값을 서버로 보내기 위한 용도 -->
                <!-- enctype="multipart/form-data"는 파일도 같이 전송하겠다는 의미 -->
                <!-- 원래 HTML 문법에서는 action이 포함되어있어야 함. 그러나 장고는 이런 부분까지 처리해줘서 안써도됨 -->
                <!-- {% csrf_token %}은 웹사이트를 CSRF 공격으로부터 보호하기 위해 장고가 제공하는 기능임. 꼭 넣어야함 -->
                
                <form method="POST" action="{% url 'challenge_form' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="#">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="#">
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>
                </form>
                
   
                <!-- {% comment %} <div class="form-group">
                    {{ form.title }}
                    {{ form.description }}
                    {{ form.duration }}
                    {{ form.category }}
                    {{ form.image }}
                </div> {% endcomment %}
                     -->
           
            </div>
        </div>
    </div> 

{% endblock %}