{% extends 'habit_stacker/base.html' %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/challenge_list.css' %}">
<!-- Slick Slider CSS -->
<script type="text/javascript" src="{% static 'slick.min.js' %}" defer></script>
<link rel="stylesheet" type="text/css" href="{% static 'slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick-theme.css' %}"/> 
{% endblock %}

{% block main_area %}
    <!-- 인기 챌린지 슬라이더 -->
    <div class="container px-4 px-lg-5">
        <!-- <h2 class="mb-4">인기 챌린지</h2> -->
        <div class="popular-challenges-slider-container">
            <button class="slider-button prev-button">&lt;</button>
            <div class="popular-challenges-slider">
                {% for challenge in popular_challenges %}
                <div class="slider-item" style="display: none">
                    <div class="card">
                        <div class="card-img-container">
                            {% if challenge.image %}
                                <img class="card-img-top" src="{{ challenge.image.url }}" alt="{{ challenge.title }}" data-challenge-id="{{ challenge.id }}">
                            {% else %}
                                {% load static %}
                                <img class="card-img-top" src="{% static '6c757d.jpg' %}" alt="{{ challenge.title }}" data-challenge-id="{{ challenge.id }}">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ challenge.title }}</h5>
                            <p class="card-text">참여자 수: {{ challenge.participants_count }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="slider-button next-button">&gt;</button>
        </div>
    </div>

    <!-- 인기 챌린지 슬라이더 다음에 추가 -->
    <div class="container px-4 px-lg-5 mt-5" style="text-align: center;">
        <!-- <h2 class="mb-4">챌린지 카테고리</h2> -->
        <div class="category-buttons">
            {% for category in categories %}
                <button class="btn btn-outline-custom category-btn" onclick="loadCategory('{{ category }}')" data-category="{{ category }}">{{ category }}</button>
            {% endfor %}
        </div>
    </div>

    <!-- 기존 챌린지 목록 -->
    <section class="py-5" id="challenge-section">
        <div class="container px-4 px-lg-5">
            <div id="challenge-container" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"">
                
                {% for challenge in challenge_list %}
                <div class="col mb-5"> 
                    <!-- Card -->
                    <a href="{% url 'single_challenge_page' challenge.pk %}" style="text-decoration: none; color: inherit;">
                        <div class="card h-100" style="cursor: pointer;">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; left: 0.5rem">{{ challenge.duration }}</div>
                            <!-- Product image-->
                            {% if challenge.image %}
                                <img class="card-img-top" src="{{ challenge.image.url }}" alt="..." />
                            {% else %}
                                {% load static %}
                                <img class="card-img-top" src="{% static '6c757d_2.jpg' %}" alt="..." />
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-left">
                                    <!-- Category -->
                                    {{ challenge.category }}
                                    <!-- Product name-->
                                    <p class="fw-bolder" style="color: black;">{{ challenge.title }}</p>
                                    <!-- Duration-->
                                    {{ challenge.duration }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            <!-- 없으면 비활성화된 상태로 표시 -->
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo; Previous</span>
                </li>
            {% endif %}
            
            <!-- 페이지 번호 링크 -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                <!-- 현재 페이지 번호의 앞뒤로 2페이지씩만 표시 -->
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            <!-- 다음페이지 링크 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            <!-- 없으면 비활성화된 상태로 표시 -->
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next &raquo;</span>
                </li>
            {% endif %}
        </ul>
    </section>
{% endblock %}

{% block extra_scripts %}
{% load static %}
<script>
    // JavaScript 변수로 스태틱 파일 경로 전달
    var static_defalt_image_Url = "{% static '6c757d_2.jpg' %}";
</script>
<script src="{% static 'js/challenge_list.js' %}"></script>
{% endblock %}
