<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ challenge.title }} - Challenge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% comment %}{% endcomment %}
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!"><strong>Habit Stacker</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->
                </ul>

                <!-- 검색창 -->
                <form class="d-flex me-4">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

                <!-- 챌린지 생성 -->
                <form class="d-flex me-2">
                    <button class="btn btn-outline-dark" type="submit">
                        Create
                    </button>
                </form>

                <!-- 회원가입 -->
                <form class="d-flex me-2">
                    <button class="btn btn-outline-dark" type="submit">
                        Sign Up
                    </button>
                </form>

                <!-- 로그인 -->
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        Sign In
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Page content-->
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-12">
                {% block main_area %}
                <h1>Create New Post</h1>
                <hr/>
                <!-- form : 사용자가 기록한 값을 서버로 보내기 위한 용도 -->
                <!-- enctype="multipart/form-data"는 파일도 같이 전송하겠다는 의미 -->
                <!-- 원래 HTML 문법에서는 action이 포함되어있어야 함. 그러나 장고는 이런 부분까지 처리해줘서 안써도됨 -->
                <!-- {% csrf_token %}은 웹사이트를 CSRF 공격으로부터 보호하기 위해 장고가 제공하는 기능임. 꼭 넣어야함 -->
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </form>
                {% endblock %}

            </div>
            
        </div>
    </div> 
    


    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
