{% extends 'habit_stacker/base.html' %}
{% block main_area %}

    <!-- Page content-->
    <div class="container px-4 px-lg-5 mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">새로운 챌린지 만들기</h1>
                <hr/>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {% if field.name == 'image' %}
                                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" accept="image/*">
                            {% else %}
                                {{ field }}
                            {% endif %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-dark">제출</button>
                    <a href="{% url 'main_page' %}" class="btn btn-light" style="border: 1px solid black">뒤로</a>
                </form>
            </div>
        </div>
    </div> 
    {% endblock %}
    {% block extra_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (typeof initializeChatbot === 'function') {
                initializeChatbot();
            } else {
                console.error('initializeChatbot function not found');
                }
            });
        </script>

{% endblock %}